.price-form-head{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px);
    line-height: 16.4063px;
    height: 19.5px;
}
.price-form-header{
    display: block;
    margin:10px 65px;
    text-align: left;
}
.price-form-container{
    margin:10px 90px; 
    padding: 10px 0px;
}
.price-form{
    margin:0px 65px;
    display: flex;
    flex-direction: column;
}
.form-option-type{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 135px;
    margin-bottom: 0px !important;
    line-height: 16.4063px;
    height: 28px;
    
}
.radio-group{
    display: inline-block;
}
.form-option-type{
    display: flex;
    align-items: center;
}
.option{
    margin:0px 50px;
    display: flex;
    align-items: center;
}

.divider-hr{
    display: inline-block;
    margin: 0; 
    width: 1px;
    height: 90px;
    background-color: #000;
}
.option-quantity{
    display: inline-block;
    width: 10%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.quan-radio-group{
    display: block;
    margin-left: 10px;
    width: 200%;
    margin-bottom: 5px;
}
.text-quantity{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px ;
}
.head-hr{
    width: 100%;
    border: 1px solid black;
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    margin:5px 0px;
}
.tail-box-hr{
    display: block;
    width: 100%;
    border: 1px solid black;
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    margin: 5px 0px;
}
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}
::placeholder{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.color-box{
    display: inline-block;
    width: 10px;
    height: 10px;
}
#yellow-box{
    background: rgb(255, 203, 33) none repeat scroll 0% 0%;
}
#blue-box{
    background: rgb(0, 99, 229) none repeat scroll 0% 0%;
}
#red-box{
    background: rgb(238, 26, 38) none repeat scroll 0% 0%;
}
#white-box{
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px inset;
}
#black-box{
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
}
#green-box{
    background: rgb(86, 197, 104) none repeat scroll 0% 0%;
}
.option-color{
    display: inline-block;
    width: 30%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.color-radio-group{
    display: block;
    margin-left: 10px;
    width: 200%;
    margin-bottom: 5px;
}
.option-layer{
    display: inline-block;
    width: 20%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.layer-radio-group{
    display: block;
    margin-left: 10px;
    width: 200%;

}
.option-thickness{
    display: inline-block;
    width: 20%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.thickness-radio-group{
    display: block;
    margin-left: 10px;
    width: 200%;
    margin-bottom: 5px;
}
.option-copper-thick{
    display: inline-block;
    width: 30%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.copper-thick-radio-group{
    display: block;
    margin-left: 10px;
    width: 200%;
}
.option-finish{
    display: inline-block;
    width: 30%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.finish-radio-group{
    display: block;
    margin-left: 10px;
    width: 200%;
}
.option-invoice{
    display: inline-block;
    width: 40%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.invoice-radio-group{
    display: block;
    margin-left: 10px;
    width: 250%;
}
.option-stencil{
    display: inline-block;
    width: 10%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.stencil-radio-group{
    display: block;
    margin-left: 10px;
    width: 250%;
    margin-bottom: 10px;
}
.notice{
    width: calc(100% - 24px);
    height: 125px;
    border-radius: 5px;
    border:2px solid gray;
}
.notice-container{
    margin:0px 50px;
}
.tail-box-hr-container{
    margin:5px 50px;
}
.submit-btn-container{
    display:flex;
    justify-content: center;
    margin: 10px 0px;
}
.submit-btn{
    width: 25%;
    background-color: #56C568;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    height: 50px;
    border-radius: 5px;
}
.user-information-head{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px);
    line-height: 16.4063px;
    height: 19.5px;
}
.user-information-header{
    display: block;
    margin:10px 65px;
    text-align: left;
    flex-direction: column;
}
.user-information-container{
    margin:10px 90px; 
    padding: 10px 0px;
}
.info-container{
    margin:10px 115px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.text-type{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    width: 15%;
    margin-right: 10px;
    color: black;
}
.text-input{
    width: 65%;
}
input{
    margin: -1px 5px 5px 5px !important;
    border-radius: 8px;
    border: 1px solid gray !important;
    height: 20px;
    padding: 5px !important;
}
.widget{
    overflow: revert !important;
}